@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}
/*=====================================Durgesh Start====================================*/
.fa-shopping-cart,
.fa-user {
  font-size: 20px;
}
.fa-shopping-cart:hover,
.fa-user:hover,
.fa-pencil-square-o:hover {
  color: #ff0000;
}
.fa-pencil-square-o {
  color: #777;
}
.inputCartInput {
  border: 0;
  text-align: center;
  background: #ff0000;
  border-radius: 4px;
  color: #fff;
  height: 30px;
  width: 26px;
}
.deleteBtn {
  height: 30px;
  width: 30px;
  border: 0;
  background: #ccc;
  border-radius: 4px;
  margin-left: 5px;
}
.container-fluid {
  padding: 0 !important;
}
.nav.navbar-nav.pull-right {
  height: 76px;
}

.productFeature button.class1 {
  height: 40px;
  width: 98%;
  background: #e6e6e6 !important;
  border: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  border-radius: 4px;
}
.productFeature button {
  height: 50px;
  width: 98%;
  background: #161616 !important;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  border-radius: 1px;
 
}
.navbar-header {
  float: left;
  position: relative;
  width: 255px;
  height: 70px;
}
#email {
  width: 75%;
  border: 0;
  height: 40px;
}
.bgConFeature:after {
  display: inline-block;
  content: "";
  position: absolute;
  background: #0c0c0c;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.logo {
  position: absolute;
  width: 232px;
  left: 0;
  top: 0px;
}
.productFeature button.active {
  background: #e6e6e6 !important;
  color: #000;
  border-bottom: 3px solid red;
}
.bgWrapper .productFeature:hover button {
  background: #ff0000 !important;
  color: #fff;
  /*border-bottom: 1px solid #eee;*/
}
.productFeature {
  margin: 3px;
  padding: 0 !important;
  width: 285px !important;
}
.productCon {
  overflow: hidden;
  background: #000;
  padding: 5px 0 5px 5px;
  margin-bottom: 15px;
  border-radius: 2px;
  display: inline-block;
}
.paddingZero {
  padding: 0;
}
.diffCol {
  float: left;
  width: 100%;
}
.product.active {
  float: left;
  width: 100%;
}
.camodata,
.carbondata,
.dragondata,
.camodata {
  float: left;
  width: auto;
  background: #161616;
  margin-right: 1%;
  border-radius: 2px;
  padding: 5px;
  padding-bottom: 0;
  min-height: 144px;
  margin-top: 4px;
}
.col-lg-12.paddingZero {
  padding: 0;
}
.bgWrapper {
  background: #222;
  padding-top: 30px;
}
/*=====================================Durgesh end====================================*/

html {
  font-size: 65%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-weight: 300;
  margin: 0 0 15px;
  font-size: 3rem;
}

h2 {
  font-weight: 300;
  margin: 0;
  font-size: 2rem;
}

/* BASE APP
  * ============================== */
.App__header {
  background-color: #222;
  background-image: url("https://unsplash.it/1000/300?image=823");
  background-size: cover;
  color: white;
  padding: 0;
}

.App__nav {
  width: 100%;
  list-style: none;
}

.App__customer-actions {
  float: left;
  padding: 10px;
}

.App__title {
  padding: 80px 20px;
  text-align: center;
}

.Product-wrapper {
  max-width: 900px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App__view-cart {
  font-size: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.button {
  background-color: #2752ff;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 10px 17px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #222222;
}

.button:disabled {
  background: #bfbfbf;
  cursor: not-allowed;
}

.login {
  font-size: 1.2rem;
  color: #b8b8b8;
  cursor: pointer;
}

.login:hover {
  color: white;
}

.Flash__message-wrapper {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  z-index: 227;
  left: 50%;
  transform: translateX(-50%);
}

.Flash__message {
  background: rgba(0, 0, 0, 0.88);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  pointer-events: auto;
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 0;
}

.Flash__message--open {
  display: flex;
}

/* CART
  * ============================== */
.Cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
  z-index: 9999;
}

.Cart--open {
  transform: translateX(0);
}
.devicedata > div:last-child {
  margin: 0;
}

.devicedata > div {
  width: 32.33%;
  padding: 0;
  margin-right: 1.5%;
}
.devicecolor.marginZero {
  margin: 0 !important;
}
.paddingZero {
  padding: 0 !important;
}
.fakeCart.col-lg-12 {
  padding-right: 30px;
}
.Product__buy,
.Product__addtocart {
  width: 46% !important;
}
.devicedata > div button {
  width: 100%;
}
.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}

.Cart__line-items {
  flex: 1 0 auto;
  margin: 0;
  padding: 20px;
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  flex: 0 0 auto;
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

/* LINE ITEMS
  * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676;
}

.Line-item__title {
  color: #4e5665;
  font-size: 15px;
  font-weight: 400;
}

.Line-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}

/* PRODUCTS
  * ============================== */
.Product {
  flex: 0 1 31%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
}

.Product__title {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  opacity: 0.7;
}

.Product__price {
  display: block;
  font-size: 1.1rem;
  opacity: 0.5;
  margin-bottom: 0.4rem;
}
.Product__option:first-child {
  margin-left: 0;
}
.Product__option {
  display: block;
  width: 40px;
  height: 52px;
  border: 0;
  float: left;
  margin: 1px 4px 6px;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1), 0 0 0 2px #000;
}
.breakrow {
  clear: both;
}
.Product__option2 {
  display: block;
  width: 28px;
  height: 45px;
  border: 0;
  float: left;
  margin: 0px 3px 5px;
}
.Product__quantity {
  display: block;
  width: 15%;
  margin-bottom: 10px;
}

/* CUSTOMER AUTH
  * ============================== */
.CustomerAuth {
  background: #2a2c2e;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0 0 65px;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  transition: opacity 150ms;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  position: fixed;
}

.CustomerAuth--open {
  display: block;
}

.CustomerAuth__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.CustomerAuth__body {
  padding: 130px 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  position: relative;
}

.CustomerAuth__heading {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}

.CustomerAuth__credential {
  display: block;
  position: relative;
  margin-bottom: 15px;
  border-radius: 3px;
}

.CustomerAuth__input {
  height: 60px;
  padding: 24px 10px 20px;
  border: 0px;
  font-size: 18px;
  background: #fff;
  width: 100%;
}

.CustomerAuth__submit {
  float: right;
}

.error {
  display: block;
  font-size: 15px;
  padding: 10px;
  position: relative;
  min-height: 2.64286em;
  background: #fbefee;
  color: #c23628;
}
.Product_title {
  background-color: black;
  padding: 10px;
  color: white;
  margin: 10px;
  text-align: center;
}

.Productimage {
  width: 100%;
  min-height: "400px";
}

.pimages div {
  background-repeat: no-repeat;
}
.ptitle {
  width: 100%;

  color: white;
  margin: 20px;
}
.ptitle button {
  width: 25%;
  display: inline-block;
  text-align: center;
  background: white;
}
.pcontainer div {
  width: 95%;

  margin: 10px;
}
.pcontainer {
  width: 100%;
}
.pcontainer button.Product__option {
  display: inline-block;
  width: 10%;
  margin: 3px;
  height: 47px;
  padding: 1px;
}
.product {
  display: none;
}

.active {
  display: block !important;
}
.dummyCart {
  width: 100%;
  padding-right: 0 !important;
  padding-top: 35px;
}

.dummyCart .dcontainor {
  margin: auto;
}

.drow .block {
  display: inline-grid;
  padding: 2px;
}
.drow {
  background: #e3e3e3;
  border: 0;
  list-style: none;
  width: 100%;
  float: left;
  /* padding: 10px; */
  margin-bottom: 15px;
  color: #000;
  font-weight: 530;
  font-size: 15px;

}
.drow_left {
  float: left;
  width: 33.33%;
  background: #d8d8da;
  padding: 11px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.drow_right {
  float: left;
  width: 66.66%;
  padding: 15px 10px;
  background: #e0e0e2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.drow_right li {
  float: left;
  width: 33.33%;
}
.drow ul {
  list-style: none;
  padding-left: 0;
}
.light_grey ul li {
  display: inline-table;
  text-align: center;
  background: none !important;
  padding: 3px;
}

.drow li:nth-child(odd) {
}
.drow li:nth-child(even) {
}

.dark_grey {
  width: 32%;
}

.light_grey {
  width: 68%;
}

.dark_grey li {
  list-style: none;
}

.dark_grey li:nth-child(odd) {
  font-size: 20px;
}
.dark_grey li:nth-child(even) {
  font-size: 10px;
}

.total {
  background: #ff0000;
  text-align: right;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 15px;
  clear: both;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.Items {
  overflow: hidden;
}

.homeStrip {
  height: 0px;
  background: #ff0000;
}
#root .navbar {
  border-radius: 0;
  margin: 0;
  padding: 0 40px;
}

.homeStripBottom {
  height: 10px;
  background: #2a2a2a;
}
.brandTittle {
  margin: 0;
  background: #e3e3e3;
  font-size: 24px;
  font-weight: 600;
  color: #2a2a2a;
  padding: 17px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.service .img-responsive {
  display: inline-block;
}
.robobullFooterItem {
  display: inline-block;
  margin: 0 15px;
  font-size: 12px;
  font-weight: normal;
}
.robobullTollFree {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 14px;
  color: #fff;
}
.robobullTollFree a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.robobullTollNum {
  display: block;
}
.robobullFooterUpper,
.robobullFooterBottom {
  position: relative;
}
.robobullCopyright {
  position: absolute;
  left: 30px;
  top: 5px;
  font-size: 12px;
  color: #fff;
}
.robobullCopyright a {
  color: #e0e0e0;
}

.footer-bottom {
  background: #212121;
  padding: 15px 0;
}
.robobullFooterUpper {
  background: #4d4d4c;
  padding: 30px 0;
}
.robobullFooterUl {
  margin: 0;
}
.robobullFooterItem a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.robobullFooterItem a:hover,
.robobullTollFree a:hover,
.robobullCopyright a:hover {
  color: #ff0000;
  text-decoration: none;
}
.service {
  background: #e5e5e5;
  padding: 50px 0;
}
.service ul li figure {
  border: 1px solid #353535;
}
.newLetterCon {
  display: inline-block;
  width: 40%;
  border: 2px solid #212121;
  margin: 0 !important;
}
.formInput {
  float: left;
  width: 75%;
  border: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 15px;
}
.newLetterBtn {
  width: 25%;
  height: 40px;
  line-height: 40px;
  border: 0;
  font-weight: 600;
  background: #212121;
  float: right;
  color: #fff;
  transition: all 1s;
}

.newLetterBtn:hover {
  background: #ff0000;
}
button,
button:hover,
button:active,
button:focus,
input {
  outline: none;
}
.newLetter {
  background: #f8f8f8;
  padding: 50px 0;
}
.mainText {
  margin: 0;
  font-size: 24px;
  color: #333;
  letter-spacing: 2px;
}
.mainText:after {
  width: 70px;
  margin: 0 auto;
  height: 5px;
  background: #ff0000;
  content: "";
  display: inherit;
  margin-top: 11px;
}
.newLetterText {
  margin: 15px 0;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: 000;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: 000;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: 000;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: 000;
}
.robobullGuaranteesOne {
  background: #e0e0e2;
}
.robobullGuaranteesTwo {
  background: #eeeef0;
}
.robobullGuaranteesThree {
  background: #e0e0e2;
}
.discriptionTittle {
  margin: 0 0 15px;
  font-size: 24px;
  color: #333;
  letter-spacing: 2px;
}
.discriptionText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}
.robobullGuaranteesOne,
.robobullGuaranteesTwo,
.robobullGuaranteesThree {
  padding-top: 50px;
  position: relative;
}
.robobullGuaranteesOne img {
  margin-top: 125px;
}
.robobullGuaranteesTwo img {
  margin-top: 77px;
}
.robobullGuaranteesThree img {
  margin-top: 173px;
}
.discriptionTittle.red,
.discriptionTittle.green,
.discriptionTittle.blue {
  height: 50px;
  line-height: 50px;
  margin-right: 40px;
  padding-left: 23px;
}
.discriptionTittle.red {
  border-left: 5px solid #ff0000;
}
.discriptionTittle.green {
  border-left: 5px solid #1e8e2e;
}
.discriptionTittle.blue {
  border-left: 5px solid #3d55a3;
}
.total.kitTotal {
  background: #ccccce;
  color: #212121;
}
.Product__addtocart {
  background: #ff0000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.Product__buy {
  background: #ff8800 !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.App > .container-fluid {
  overflow: hidden;
}
.navbar-nav > li > a {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.logo img {
  width: 245px;
  margin-right: 25px;
}
.Cart__header h2 {
  font-size: 24px;
  color: #333;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}
button.Cart__checkout.button {
  background: #ff0000 !important;
}
.bgImgColor {
  background: #000;
  padding-top: 30px;
  padding-bottom: 50px;
}
.container-fluid.OverFlow {
  overflow: hidden;
}
#logo-img {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: -4px;
  right: 0;
  display: inline-block;
}
.carousel .slide {
  background: none;
}
.robodesign {
  clear: both;
  overflow: hidden;
  padding-top: 8px;
}

.title {
  margin: 0em 0.3em 0.6em 0.1em;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  cursor: default;
  color: #eeeef0;
  text-transform: capitalize;
}

.Product__option1 {
  display: block;

  border: 0;
  margin: 3px 0px 2px 0px;
  border-radius: 4px;
  background: #000;
  width: 105%;
  
}

.carousel-control {
  position: absolute;
  top: 134px !important;
  bottom: 0;
  left: 0;
  width: 0% !important;
  opacity: 1 !important;
  display: none;
}
.carousel-control .glyphicon-chevron-left {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  font-size: 12px !important;
  line-height: 30px;
  background: #161616;
  left: -17px;
}
.carousel-control .glyphicon-chevron-right {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  font-size: 12px !important;
  line-height: 30px;
  background: #161616;
  left: 0px;
}
.alice-carousel__wrapper {
  background: #000;
  padding: 5px;
}
.carousel-inner > .item.active,
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right {
  left: 25px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  margin-left: -30px !important;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}

.loadershow {
  background-image: url("/texture/hourglass.svg");
  background-size: contain;
  width: 51px;
  height: 18px;
  background-repeat: no-repeat;
  text-align: center;
}

.emptyCart {
  background-image: url("/texture/Cart-empty.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 230px;
  margin: 10px;
}
.emptyCartText {
  text-align: center;
  font-size: 15px !important;
  color: #272727;
}
.emptyCartText .innertext {
  margin: 10px;
}

.btn-highlighted {
  color: #000;
  background: #fb0;
}

.btn-highlighted:hover {
  background: #000;
  color: #fb0;
}

@media (max-width: 860px) {
  .productCon {
    display: block;
  }
  .productFeature {
    width: 100% !important;
  }
  .bgConFeature:after {
    display: none;
  }
  .productFeature button {
    width: 97%;
  }
  .container.OverFlow:after {
    display: none;
  }
  .dummyCart {
    padding-left: 0px !important;
    padding-bottom: 35px;
  }
  .drow_left {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .drow_right {
    float: none;
    width: 100%;
  }
  .robobullGuaranteesOne > .container,
  .robobullGuaranteesTwo > .container,
  .robobullGuaranteesThree > .container {
    padding: 0;
  }
  .discriptionText {
    font-size: 12px;
  }
  .discriptionTittle.red,
  .discriptionTittle.green,
  .discriptionTittle.blue {
    margin-right: 0;
  }
  .discriptionTittle,
  .mainText {
    font-size: 18px;
  }
  .nav.navbar-nav.pull-right {
    height: auto;
    float: none !important;
    margin: 0;
  }
  .nav.navbar-nav.pull-right > li > a {
    position: relative;
    display: block;
    padding: 10px 0px;
  }
  .newLetterCon {
    width: 98%;
  }
  input#email {
    width: 70%;
    height: 40px;
    border: 0;
  }
  .newLetterBtn {
    width: 30%;
  }
  .service ul li figure {
    border-bottom: 0;
  }
  .service ul li:last-child figure {
    border-bottom: 1px solid #353535;
  }
  .service p {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .service > .container {
    padding: 0;
  }
  .robobullTollFree {
    position: relative;
    right: auto;
    top: auto;
    padding-left: 15px;
  }
  .robobullFooterItem {
    display: block;
    margin: 0;
    text-align: left;
    margin-bottom: 11px;
  }
  .robobullCopyright {
    position: relative;
    left: auto;
    top: auto;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  .robobullGuaranteesOne img,
  .robobullGuaranteesTwo img,
  .robobullGuaranteesThree img {
    margin: 0;
  }
  .bgImgColor {
    padding-left: 15px !important;
  }
  .diffCol {
    float: none;
    padding: 0 5px;
  }
  .camodata,
  .carbondata,
  .dragondata,
  .camodata {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .navbar-header {
    float: none;
    position: relative;
    width: auto;
    height: auto;
  }
  .logo {
    position: relative;
    width: auto;
    left: auto;
    top: auto;
  }
}
.bgConFeature {
  position: relative;
}
@media (max-width: 860px)
{
.productFeature {
    width: 48% !important;
}
}